1. Write a Pandas program to join the two given dataframes along rows and assign all data.
Test Data:

student_data1:

  student_id              name  marks

0         S1  Danniella Fenton    200

1         S2      Ryder Storey    210

2         S3      Bryce Jensen    190

3         S4         Ed Bernal    222

4         S5       Kwame Morin    199



student_data2:

  student_id              name  marks

0         S4  Scarlette Fisher    201

1         S5  Carla Williamson    200

2         S6       Dante Morse    198

3         S7    Kaiser William    219

4         S8   Madeeha Preston    201

In [1]:
import pandas as pd

In [2]:
# Define dfs
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

# Concatenate along row
result = pd.concat([student_data1, student_data2], ignore_index=True)

print(result)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

2. Write a Pandas program to join the two given dataframes along columns and assign all data.
Test Data:

student_data1:

  student_id              name  marks

0         S1  Danniella Fenton    200

1         S2      Ryder Storey    210

2         S3      Bryce Jensen    190

3         S4         Ed Bernal    222

4         S5       Kwame Morin    199



student_data2:

  student_id              name  marks

0         S4  Scarlette Fisher    201

1         S5  Carla Williamson    200

2         S6       Dante Morse    198

3         S7    Kaiser William    219

4         S8   Madeeha Preston    201

In [3]:
result = pd.concat([student_data1, student_data2], axis=1)
print(result)

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
Test Data:

student_data1

  student_id              name  marks

0         S1  Danniella Fenton    200

1         S2      Ryder Storey    210

2         S3      Bryce Jensen    190

3         S4         Ed Bernal    222

4         S5       Kwame Morin    199



New Row(s)

student_id                  S6

name          Scarlette Fisher

marks                      205

dtype: object

In [4]:
new_rows = pd.Series({
    'student_id': 'S6',
    'name': 'Scarlette Fisher',
    'marks': 205
})

# Append the new row(s) to the existing DataFrame
result = pd.concat([student_data1, new_rows.to_frame().T], ignore_index=True)

# Print the resulting DataFrame
print(result)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S6  Scarlette Fisher   205

4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
Test Data:

 student_id              name  marks

0         S1  Danniella Fenton    200

1         S2      Ryder Storey    210

2         S3      Bryce Jensen    190

3         S4         Ed Bernal    222

4         S5       Kwame Morin    199



Dictionary:

student_id                  S6

name          Scarlette Fisher

marks                      205

dtype: object

In [5]:
new_data = [
    {'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 205},
    pd.Series({'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 208})
]

# Append the list of dictionaries or series to the existing DataFrame
result = pd.concat([student_data1, pd.DataFrame(new_data)], ignore_index=True)

# Print the resulting DataFrame
print(result)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205
6         S7      Bryce Jensen    208

5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
Test Data:

student_data1:

  student_id              name  marks

0         S1  Danniella Fenton    200

1         S2      Ryder Storey    210

2         S3      Bryce Jensen    190

3         S4         Ed Bernal    222

4         S5       Kwame Morin    199



student_data2:

  student_id              name  marks

0         S4  Scarlette Fisher    201

1         S5  Carla Williamson    200

2         S6       Dante Morse    198

3         S7    Kaiser William    219

4         S8   Madeeha Preston    201



exam_data:

   student_id  exam_id

0          S1       23

1          S2       45

2          S3       12

3          S4       67

4          S5       21

5          S7       55

6          S8       33

7          S9       14

8         S10       56

9         S11       83

10        S12       88

11        S13       12

In [6]:
exam_data = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})

all_student_data = pd.concat([student_data1, student_data2], ignore_index=True)

merged_data = pd.merge(all_student_data, exam_data, on='student_id', how='left')

print(merged_data)

  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200     23.0
1         S2      Ryder Storey    210     45.0
2         S3      Bryce Jensen    190     12.0
3         S4         Ed Bernal    222     67.0
4         S5       Kwame Morin    199     21.0
5         S4  Scarlette Fisher    201     67.0
6         S5  Carla Williamson    200     21.0
7         S6       Dante Morse    198      NaN
8         S7    Kaiser William    219     55.0
9         S8   Madeeha Preston    201     33.0

6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
Test Data:

student_data1:

  student_id              name  marks

0         S1  Danniella Fenton    200

1         S2      Ryder Storey    210

2         S3      Bryce Jensen    190

3         S4         Ed Bernal    222

4         S5       Kwame Morin    199



student_data2:

  student_id              name  marks

0         S4  Scarlette Fisher    201

1         S5  Carla Williamson    200

2         S6       Dante Morse    198

3         S7    Kaiser William    219

4         S8   Madeeha Preston    201

In [7]:
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='outer')

# Print the merged dataframe
print(merged_data)

  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

7. Write a Pandas program to join the two dataframes with matching records from both sides where available.
Test Data:

student_data1:

  student_id              name  marks

0         S1  Danniella Fenton    200

1         S2      Ryder Storey    210

2         S3      Bryce Jensen    190

3         S4         Ed Bernal    222

4         S5       Kwame Morin    199



student_data2:

  student_id              name  marks

0         S4  Scarlette Fisher    201

1         S5  Carla Williamson    200

2         S6       Dante Morse    198

3         S7    Kaiser William    219

4         S8   Madeeha Preston    201

In [8]:
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='inner')

print(merged_data)

  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
Test Data:

data1:

  key1 key2   P   Q

0   K0   K0  P0  Q0

1   K0   K1  P1  Q1

2   K1   K0  P2  Q2

3   K2   K1  P3  Q3



data2:

  key1 key2   R   S

0   K0   K0  R0  S0

1   K1   K0  R1  S1

2   K1   K0  R2  S2

3   K2   K0  R3  S3

In [9]:
# Define data dataframes
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})


data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})

merged_data = pd.merge(data1, data2, on=['key1', 'key2'], how='left')

print(merged_data)

  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

9. Write a Pandas program to join two dataframes using keys from right dataframe only.
Test Data:

data1:

  key1 key2   P   Q

0   K0   K0  P0  Q0

1   K0   K1  P1  Q1

2   K1   K0  P2  Q2

3   K2   K1  P3  Q3



data2:

  key1 key2   R   S

0   K0   K0  R0  S0

1   K1   K0  R1  S1

2   K1   K0  R2  S2

3   K2   K0  R3  S3

In [10]:
merged_data = pd.merge(data1, data2, on=['key1', 'key2'], how='right')

print(merged_data)

  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

10. Write a Pandas program to merge two given datasets using multiple join keys.
Test Data:

data1:

  key1 key2   P   Q

0   K0   K0  P0  Q0

1   K0   K1  P1  Q1

2   K1   K0  P2  Q2

3   K2   K1  P3  Q3



data2:

  key1 key2   R   S

0   K0   K0  R0  S0

1   K1   K0  R1  S1

2   K1   K0  R2  S2

3   K2   K0  R3  S3

In [11]:
merged_data = pd.merge(data1, data2, on=['key1', 'key2'])

print(merged_data)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

11. Write a Pandas program to create a new DataFrame based on existing series,  using specified argument 
and override the existing columns names.

In [12]:
series1 = pd.Series([10, 20, 30, 40, 50])
series2 = pd.Series(['A', 'B', 'C', 'D', 'E'])
series3 = pd.Series([True, False, True, False, True])

data = {
    'Series1': series1,
    'Series2': series2,
    'Series3': series3
}

df = pd.DataFrame(data)

new_column_names = ['Numbers', 'Letters', 'Booleans']
df.columns = new_column_names

print(df)

   Numbers Letters  Booleans
0       10       A      True
1       20       B     False
2       30       C      True
3       40       D     False
4       50       E      True

12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
Test Data:

data1:

  key1 key2   P   Q

0   K0   K0  P0  Q0

1   K0   K1  P1  Q1

2   K1   K0  P2  Q2

3   K2   K1  P3  Q3



data2:

  key1 key2   R   S

0   K0   K0  R0  S0

1   K1   K0  R1  S1

2   K1   K0  R2  S2

3   K2   K0  R3  S3

In [13]:
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})

merged_data = pd.merge(data1, data2, on=['key1', 'key2'])
result = merged_data.groupby(['key1', 'key2']).filter(lambda x: len(x) > 1)

print(result)

  key1 key2   P   Q   R   S
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

13. Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.
Test Data:

data1:

     A   B

K0  A0  B0

K1  A1  B1

K2  A2  B2



data2:

     C   D

K0  C0  D0

K2  C2  D2

K3  C3  D3

In [14]:
data1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2'])

data2 = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])

result = pd.concat([data1, data2], axis=1, join='outer')

print(result)

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

14. Write a Pandas program to merge two given dataframes with different columns.
Test Data:

data1:

  key1 key2   P   Q

0   K0   K0  P0  Q0

1   K0   K1  P1  Q1

2   K1   K0  P2  Q2

3   K2   K1  P3  Q3



data2:

  key1 key2   R   S

0   K0   K0  R0  S0

1   K1   K0  R1  S1

2   K1   K0  R2  S2

3   K2   K0  R3  S3

In [15]:
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})

merged_data = pd.merge(data1, data2, on=['key1', 'key2'], how='outer')

print(merged_data)

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0   R0   S0
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2   R1   S1
3   K1   K0   P2   Q2   R2   S2
4   K2   K1   P3   Q3  NaN  NaN
5   K2   K0  NaN  NaN   R3   S3

15. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
Test Data:

Original DataFrames:

     A  B

0  NaN  3

1  0.0  4

2  NaN  5



  A    B

0  1  3.0

1  1  NaN

2  3  3.0

In [17]:
import numpy as np

In [18]:
df1 = pd.DataFrame({'A': [np.nan, 0, np.nan], 'B': [3, 4, 5]})

df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3.0, np.nan, 3.0]})

combined_df = df1.combine_first(df2)

print("Combined DataFrame:")
print(combined_df)

Combined DataFrame:
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0